#small{
    display: flex;
    color: white;
    margin-left: 80%;
}
#box{
    background: black;
    width: 1300px;
    height: 50px;
    border: 1px solid black;
}
p{
    margin-right: 40px;
}
#meal{
    display: grid;
    grid-template-columns: repeat(4,300px);
    grid-template-rows: 300px;
    width: 1150px;
    margin: 60px;
    grid-gap: 20px;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#cartlength{
    margin-left: 90%;
    margin-top: 20px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}